{% include '@App/myHeader.html.twig' %}

{% block body %}
    <h1>You have been chosen to manage the Notice Board!</h1>
    <h2>Do not fail the users!</h2>
    <p>
        <a href="{{ path('app_user_adminedituser') }}"><button>user management</button></a>
        <a href="{{ path('app_user_admineditnotices') }}"><button>notice management</button></a>
        <a href="{{ path('app_user_admineditcomments') }}"><button>comment management</button></a>
        <a href="{{ path('app_user_admineditcategories') }}"><button>category management</button></a>
    </p>
    <a href={{ path('app_notice_index')}}><button type="submit">Main page</button></a>
{% endblock %}